/* Add the fonts to the project */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Thin.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-ThinItalic.ttf');
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('../fonts/Crimson_Text/CrimsonText-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('../fonts/Crimson_Text/CrimsonText-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('../fonts/Crimson_Text/CrimsonText-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

/* Setup css custom properties */
:root {
  /* colors */
  color-scheme: light dark;

  --clr-background-light: hsl(64, 41%, 79%);
  --clr-text-light: hsl(192, 25%, 21%);
  --clr-background-dark: hsl(192, 25%, 21%);
  --clr-text-dark: hsl(64, 41%, 79%);

  --clr-link: hsl(33, 76%, 59%);
  --clr-accent: hsl(173, 62%, 71%);

  /* font-family */
  --ff-headings: 'Lato';
  --ff-content: 'Crimson_Text';

  /* font-sizes */
  --fs-legend: 1rem;
  --fs-text: 1.125rem;
  --fs-headings: 2.5rem;
  --fs-xxl: 7rem;

  /* font-weights */
  --fw-thin: 100;
  --fw-reg: 400;
  --fw-bold: 700;

  --background: var(--clr-background-light);
  --text: var(--clr-text-light);

  @media (prefers-color-scheme: dark) {
    body {
      --background: var(--clr-background-dark);
      --text: var(--clr-text-dark);
    }
  }
}

/* basic re-set */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* remove all animations for people that don't want them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: itallic;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  margin: 0;
  line-height: 1;
  letter-spacing: 0.08em;
}

h1,
h2 {
  font-weight: var(--fw-thin);
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--ff-headings);
}

h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-text);
}

p {
  line-height: 1.2;
  font-weight: var(--fw-reg);
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: hsl(from var(--clr-link) h s l / 0.7);
  text-decoration: none;
  transition: all 250ms ease-in;
}

a:is(:hover, :focus) {
  color: var(--clr-link);
}

textarea,
input {
  font: inherit;
  color: var(--text);
  background: var(--background);
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  font-size: var(--fs-text);
  font-family: var(--ff-content);
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

/* utillity classes */

.wrapper {
  margin-inline: 1rem;
}

@media screen and (min-width: 800px) {
  .wrapper {
    width: 85%;
    max-width: var(--mx-width, 1400px);
    margin-inline: auto;
  }
}

.flex {
  display: flex;
  flex-direction: var(--flex-dir, row);
  gap: var(--flex-gap, 1em);
  justify-content: var(--flex-justify, space-between);
  align-items: var(--flex-align, center);
}

.grid {
  display: grid;
}

/* for assisibillity reasons - only showed when in focus */
.skip-to-content {
  position: absolute;
  z-index: 99;
  color: var(--clr-text-light);
  background: var(--clr-background-light);
  padding: 0.25em 0.75em;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* text only for use with screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* general header across website */

.nav-wrapper {
  background-color: var(--clr-background-dark);
  font-size: var(--fs-text);
  padding: 0;
}

nav ul {
  list-style: none;
}

nav .animated {
  position: relative;
}

nav .animated::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

nav .animated:hover::after {
  transform: scaleX(1);
}

header {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  margin-block: 0em 2em;
}

.img-box {
  grid-column: 1 / -1;
  grid-row-start: 1;
  background-image: url('../images/header-img-low.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.filter-box {
  display: none;
}

.headline {
  grid-column: 1 / -1;
  grid-row-start: 1;
  place-self: center;
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem);
  background: hsl(var(--clr-white) / 0.05);
}

@media (min-width: 800px) {
  .img-box {
    grid-column: 1 / span 4;
  }

  .filter-box {
    display: block;
    grid-column: 1 / -1;
    grid-row-start: 1;
    background-image: linear-gradient(
      to right,
      hsl(from var(--background) h s l / 0.1),
      hsl(from var(--background) h s l / 0.7) 40%,
      var(--background)
    );
  }

  .headline {
    grid-column: 4 / -1;
    backdrop-filter: unset;
  }
}

form {
  --mx-width: 800px;
}

fieldset {
  border-radius: 10px;
  border: 1px solid var(--text);
  margin-block-end: 1em;
}

legend {
  font: inherit;
  font-size: var(--fs-legend);
}

footer {
  border-top: 2px solid var(--text);
  line-height: 1.1;
  margin: 0 0 1em 0;
}

footer ul {
  --flex-gap: 1.5rem;

  list-style: none;
}

.social-icon {
  width: 32px;
  height: 32px;
}

/* brand colors for the social icons */
#github {
  fill: #000000;
}

#linkedin {
  fill: #007ab6;
}

#mastodon {
  fill: #6364ff;
}

#bluesky {
  fill: #295ef6;
}
