/* Add the fonts to the project */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Thin.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-ThinItalic.ttf');
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('../fonts/Crimson_Text/CrimsonText-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('../fonts/Crimson_Text/CrimsonText-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Crimson_Text';
  src: url('../fonts/Crimson_Text/CrimsonText-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

/* Setup css custom properties */
:root {
  /* colors */
  color-scheme: light dark;

  --clr-background-light: hsl(64, 41%, 79%);
  --clr-text-light: hsl(192, 25%, 21%);
  --clr-background-dark: hsl(192, 25%, 21%);
  --clr-text-dark: hsl(64, 41%, 79%);

  --clr-link: hsl(33, 76%, 59%);
  --clr-accent: hsl(173, 62%, 71%);

  /* font-family */
  --ff-headings: 'Lato';
  --ff-content: 'Crimson_Text';

  /* font-sizes */
  --fs-legend: 1rem;
  --fs-text: 1.125rem;
  --fs-headings: 2.5rem;
  --fs-xxl: 7rem;

  /* font-weights */
  --fw-thin: 100;
  --fw-reg: 400;
  --fw-bold: 700;
}

/* setup color themes */

body {
  background-color: var(--clr-background-light);
  color: var(--clr-text-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--clr-background-dark);
    color: var(--clr-text-dark);
  }
}

/* basic re-set */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--fs-text);
  font-family: var(--ff-content);
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: itallic;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  margin: 0;
  line-height: 1;
  letter-spacing: 0.08em;
}

h1,
h2 {
  font-weight: var(--fw-thin);
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--ff-headings);
}

h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-text);
}

p {
  line-height: 1.2;
}

a {
  color: hsl(from var(--clr-link) h s l / 0.7);
  text-decoration: none;
  transition: all 250ms ease-in;
}

a:is(:hover, :focus) {
  color: var(--clr-link);
}

/* utillity classes */
.wrapper {
  width: 85%;
  max-width: var(--mx-width, 1100px);
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-direction: var(--flex-dir, row);
  gap: var(--flex-gap, 1em);
  justify-content: var(--flex-justify, space-between);
  align-items: var(--flex-align, center);
}

.grid {
  display: grid;
}

/* general header across website */

.nav-wrapper {
  background-color: var(--clr-background-dark);
  font-size: var(--fs-headings);
  padding: 0;
}

nav ul {
  list-style: none;
}

nav .animated {
  position: relative;
}

nav .animated::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

nav .animated:hover::after {
  transform: scaleX(1);
}

header {
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin-block: 0em 2em;
}

.img-box {
  grid-column: 1 / span 2;
  grid-row-start: 1;
  background-image: url('../images/header-img-low.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  grid-column: 2 / span 2;
  grid-row-start: 1;
}
